<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="cancelNeighborRegistration()" [strong]="true">Annuler</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="registration-container">
    <app-cancel-user-registration-alert></app-cancel-user-registration-alert>
    <div class="header-container">
      <h2 class="mvs-title ion-no-margin">Inscription</h2>
      <span class="mvs-subtitle">Compte MVS Voisin</span>
    </div>
    <div class="form-card">
      <form (ngSubmit)="onSubmit()" [formGroup]="registrationForm">
        <div class="ion-margin-bottom">

          <ion-item-divider>
            <ion-label>Je suis là</ion-label>
          </ion-item-divider>

          <div formGroupName="address">
            <ion-item class="custom-input" lines="none">
              <ion-icon color="medium" name="location-outline" slot="start"></ion-icon>
              <ion-input
                aria-label="Rue"
                formControlName="street"
                placeholder="Rue"
              ></ion-input>
            </ion-item>
            @if (registrationForm.get('address.street')?.invalid && registrationForm.get('address.street')?.touched) {
              <ion-note class="ion-margin-horizontal" color="danger">
                La rue est requise.
              </ion-note>
            }

            <ion-item class="custom-input" lines="none">
              <ion-icon color="medium" name="map-outline" slot="start"></ion-icon>
              <ion-input
                aria-label="Code Postal"
                formControlName="postalCode"
                placeholder="Code Postal"
              ></ion-input>
            </ion-item>
            @if (registrationForm.get('address.postalCode')?.invalid && registrationForm.get('address.postalCode')?.touched) {
              <ion-note class="ion-margin-horizontal" color="danger">
                Le code postal est requis.
              </ion-note>
            }

            <ion-item class="custom-input" lines="none">
              <ion-icon color="medium" name="business-outline" slot="start"></ion-icon>
              <ion-input
                aria-label="Ville"
                formControlName="city"
                placeholder="Ville"
              ></ion-input>
            </ion-item>
            @if (registrationForm.get('address.city')?.invalid && registrationForm.get('address.city')?.touched) {
              <ion-note class="ion-margin-horizontal" color="danger">
                La ville est requise.
              </ion-note>
            }

            <ion-item class="custom-input" lines="none">
              <ion-icon color="medium" name="planet-outline" slot="start"></ion-icon>
              <ion-input
                aria-label="Pays"
                formControlName="country"
                placeholder="Pays"
              ></ion-input>
            </ion-item>
            @if (registrationForm.get('address.country')?.invalid && registrationForm.get('address.country')?.touched) {
              <ion-note class="ion-margin-horizontal" color="danger">
                Le pays est requis.
              </ion-note>
            }
          </div>

          <ion-item-divider>
            <ion-label>Mon profil</ion-label>
          </ion-item-divider>

          <ion-item class="custom-input" lines="none">
            <ion-icon color="medium" name="person-outline" slot="start"></ion-icon>
            <ion-input
              aria-label="Pseudo"
              formControlName="pseudo"
              placeholder="Pseudo"
            ></ion-input>
          </ion-item>
          @if (registrationForm.get('pseudo')?.invalid && registrationForm.get('pseudo')?.touched) {
            <ion-note class="ion-margin-horizontal" color="danger">
              Le pseudo est requis (min. 3 caractères).
            </ion-note>
          }

          <ion-item class="custom-input" lines="none">
            <ion-icon color="medium" name="mail-outline" slot="start"></ion-icon>
            <ion-input
              aria-label="Email"
              formControlName="email"
              placeholder="Email"
              type="email"
            ></ion-input>
          </ion-item>
          @if (registrationForm.get('email')?.invalid && registrationForm.get('email')?.touched) {
            <ion-note class="ion-margin-horizontal" color="danger">
              Un email valide est requis.
            </ion-note>
          }
        </div>

        <div class="ion-margin-top">
          <ion-button [disabled]="registrationForm.valid" color="blue-mvs" expand="block" shape="round" type="submit">
            Je m'inscris
          </ion-button>
        </div>
      </form>
    </div>
  </div>
</ion-content>
