<div class="action-buttons">
  <div class="divider">Me connecter avec mon compte</div>

  <div class="social-login">
    <ion-button class="facebook-btn" color="green-mvs" expand="block" fill="outline" shape="round">
      <ion-icon class="facebook-icon" name="logo-facebook" slot="start"></ion-icon>
      Facebook
    </ion-button>

    <ion-button class="google-btn" color="green-mvs" expand="block" fill="outline" shape="round">
      <ion-icon class="google-icon" name="logo-google" slot="start"></ion-icon>
      Google
    </ion-button>

    <ion-button class="yahoo-btn" color="green-mvs" expand="block" fill="outline" shape="round">
      <ion-icon class="yahoo-icon" name="logo-yahoo" slot="start"></ion-icon>
      Yahoo
    </ion-button>
  </div>
</div>
