<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="mvs-events">
      <ion-icon name="radio"></ion-icon>
      <ion-label>Événements</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="mvs-map">
      <ion-icon name="navigate"></ion-icon>
      <ion-label>Navigation</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="neighbor-settings">
      <ion-icon name="settings"></ion-icon>
      <ion-label>Réglages</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
