<ion-content class="ion-padding">
  <div class="success-container">
    <div class="success-card">
      <div class="icon-container">
        <ion-icon name="checkmark-circle-outline" color="green-mvs"></ion-icon>
      </div>

      <div class="text-container">
        <h2 class="welcome-title">Bienvenue dans MVS !</h2>
        <p class="success-message" color="green-mvs">Votre compte a été créé avec succès.</p>
        <p class="ready-message">Partage l'app à tes voisins ou retrouves les ici.</p>
        <p class="ready-message">Workflow: {{ loginWorkflow }}</p>
      </div>

      <div class="action-container">
        <ion-button (click)="closeUserRegistrationModal()" expand="block" shape="round" color="blue-mvs">
          Je me connecte
        </ion-button>
      </div>
    </div>
  </div>
</ion-content>
