<ion-header class="mvs-header">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Réglages</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div class="settings-container">
    @if (currentUser(); as user) {
      <div class="user-profile">
        <div class="avatar-container">
          <img [ngSrc]="user.photoURL || 'assets/icon/favicon.png'"
               [alt]="user.displayName"
               width="120"
               height="120"
               class="profile-avatar">
        </div>
        <div class="user-info">
          <h1>{{ user.displayName }}</h1>
          <p>{{ user.email }}</p>
        </div>
      </div>
    }

  </div>
</ion-content>
