.login-content {
  --background: #f8f9fa;
}

ion-segment {
  margin-bottom: 20px;
  --color: var(--ion-color-green-mvs);
  --color-checked: var(--ion-color-green-mvs);
  --indicator-color: var(--ion-color-green-mvs);
}

.login-container {
  width: 100%;
  max-width: 400px;
  padding: 20px;
}

.logo-circle {
  background: var(--ion-color-red-mvs);
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto -35px;
  position: relative;
  z-index: 10;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);

  .logo-text {
    font-size: 20px;
    font-weight: 800;
    color: white;

    .v-letter {
      font-size: 24px;
    }
  }

  ion-icon {
    font-size: 32px;
  }
}

.mvs-login-card {
  --background: white;
  border-radius: 20px;
  margin: 0;
  padding-top: 30px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.05);
}

ion-card-header {
  margin-bottom: 16px;
}

ion-card-title {
  color: var(--ion-color-blue-mvs);
  font-weight: 800;
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 8px;
}

ion-card-subtitle {
  color: #666;
  text-align: center;
  letter-spacing: 1px;
  font-weight: 600;
}

.divider {
  text-align: center;
  color: #999;
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 0.9rem;
  font-weight: bold;
}



