<div>
  <div class="input-group">
    <ion-item class="custom-input" lines="none">
      <ion-icon color="medium" name="mail-outline" slot="start"></ion-icon>
      <ion-input aria-label="Email" placeholder="Email" type="email"></ion-input>
    </ion-item>

    <ion-item class="custom-input" lines="none">
      <ion-icon color="medium" name="lock-closed-outline" slot="start"></ion-icon>
      <ion-input aria-label="Mot de passe" placeholder="Mot de passe" type="password">
        <ion-input-password-toggle color="green-mvs" slot="end"></ion-input-password-toggle>
      </ion-input>
    </ion-item>
  </div>
  <div class="action-buttons">
    <ion-button class="login-btn" color="green-mvs" expand="block" shape="round">
      Me connecter
    </ion-button>
    <ion-button class="forgot-password" color="medium" fill="clear" size="small">
      Mot de passe oublié ?
    </ion-button>
  </div>
</div>
