<ion-header class="mvs-header">
  <ion-toolbar>
    <ion-title>Évènements</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fixed-slot-placement="before" class="ion-padding-bottom">
  <div class="mvs-events-container">
    <ion-list class="mvs-list">
      @for (item of items; track item; let index = $index) {
        <ion-item (click)="selectItem(item)"
                  [class.mvs-item-selected]="selectedItem() === item">
          <ion-avatar slot="start">
            <img [src]="'https://picsum.photos/80/80?random=' + index" alt="avatar" />
          </ion-avatar>
          <ion-label>{{ item }}</ion-label>
        </ion-item>
      }
    </ion-list>
    <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>
</ion-content>
